<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">

<title>QnA 글 작성하기</title>
<style>
.center {
	margin: 0 auto;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<div class="page-header d-print-none">
			<div class=container-xl>
				<div class="row g-2 align-items-center">
					<div class="col">
						<div class="page-pretitle">문의 게시판</div>
						<h2 class="page-title">글 작성하기</h2>
					</div>
				</div>
				<br> <br> <br> <br>
				<div>
					<form action="qnaInsert" method="post" id="frm">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">

						<div class="col-1">
							<select class="form-select" id="qnaCategory" name="qnaCategory">
								<option>질문</option>
							</select>
						</div>

						<div class="col-7 center">
							<label class="form-label">제목</label> <input id="qnaTitle"
								name="qnaTitle" type="text" class="form-control">
						</div>
						<br>
						<div class="col-7 center">
							<label class="form-label">내용</label>
							<textarea id="qnaContent" name="qnaContent" class="form-control"
								rows="17"></textarea>
							<br>
							<button type="submit" class="btn btn-primary"
								style="float: right">등록하기</button>
						</div>
					</form>
				</div>
				<br> <br> <br>

				<script>
					
				</script>

			</div>
		</div>
	</article>
</body>
</html>