<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.stay.prj.login.mapper.LoginMapper">

<select id="Login" resultType="co.stay.prj.login.service.LoginVO">
<!-- 로그인 -->
SELECT * FROM USERS
WHERE USER_ID=#{userId}
</select>








</mapper>