<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.stay.prj.cmmncd.mapper.CmmnCdMapper">

	<select id="boardList" resultType="co.stay.prj.cmmncd.service.CmmncdVO">
		SELECT * FROM CMMNCD WHERE CD_INI = 'B' ORDER BY CD_NO
	</select>
	
	<select id="limitList" resultType="co.stay.prj.cmmncd.service.CmmncdVO">
		SELECT * FROM CMMNCD WHERE CD_INI = 'L' ORDER BY CD_NO
	</select>

</mapper>